nodered/flows.json
[{"id":"7d4b89c9.291e98","type":"tab","label":"Certificates","disabled":false,"info":""},{"id":"4d4e7edd.07c848","type":"tab","label":"Issue Certificate","disabled":false,"info":""},{"id":"b8bbfb03.fd1c08","type":"tab","label":"Domain","disabled":false,"info":""},{"id":"9ad839e8.af376","type":"tab","label":"API","disabled":false,"info":""},{"id":"dd1b8716.0b27b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"701b68f5.11f0b","type":"group","z":"b8bbfb03.fd1c08","name":"Generate Domain Root Certificate","style":{"label":true},"nodes":["32ff4d39.94c62a","fedc0e7.9f0ee7","9af2e566.8cc7d8","8c587c69.009168","b8717ae6.11e98","42969b07.2e139c","337ed99.e6f12a6","899e5ca8.aa7688","9a00e49a.031e98","2755276d.dbd7e","17d53a5b.c2fcbe","1e3c9f52.6e5759","57a6e275.db8b7c","42d68f31.cfd9e8","52dbf378.a86bbc","b409a82d.69bfb8","778326f0.9bc57","cd21c75e.1c48e","2638a644.3ebc4a","93e13fff.909688"],"x":54,"y":59,"w":972,"h":402},{"id":"4377b089.77d1e8","type":"group","z":"b8bbfb03.fd1c08","name":"Show root certificate","style":{"label":true},"nodes":["a1e39dd9.32f2f","caf2dbf2.24a548","a142965d.5a98d8","b034e2d2.56e79","1206965b.bbf5d2","ec31ce35.ff05c8","835f2fac.1619","1ab8b811.b0276","7db5c9e5.78ca58","5455ad4f.f38cac","3cf2cfd4.5fa27","7f246578.5bf4e4","669dd36f.1c797c","a8038516.48ef68"],"x":54,"y":499,"w":992,"h":262},{"id":"d6f9fb9e.f2eae8","type":"group","z":"b8bbfb03.fd1c08","name":"Show root private key","style":{"label":true},"nodes":["49d35de1.dee874","c74cbbc4.ca0b4","cb04acf1.4e4168","600386d6.b193b8","954a6608.a71808","2719aefb.ecb29a","389470b0.7587e","bfc0115f.49e4f8","b924d5a8.e345c","4d1c365.b7c1a48"],"x":54,"y":799,"w":932,"h":202},{"id":"a750bad3.af01c8","type":"group","z":"4d4e7edd.07c848","name":"Request","style":{"label":true},"nodes":["8bf4c3c.4d966c","29d7b5ba.cd9fc2","71d2c69b.d20648","7266395d.cca138","c035f3bf.c110d8","900d0c34.c96f98","3edcc2d1.eaf966","faa7583.0e41ea8","ec273fff.6e07c8","f0021b7d.636058","b9a7b605.2cc838","b6e0a089.36e2c","cea6a6a3.da63c"],"x":214,"y":119},{"id":"57bc921b.0b57b4","type":"group","z":"4d4e7edd.07c848","name":"Generate and Sign Certificate","style":{"label":true},"nodes":["789a66ee.aea03","599ccf7a.33a328","5c0e2716.300358","bc145b4d.77051","3fdbcfff.d1898","ba3d66cc.63c0b8","a7391aa3.cafdd","6097f6f2.5b9ce","28f4fcaa.3200cc","4cdbe703.a3bf48","930e1fc7.ad564","ebe04097.f3ba58","cd7d28ba.9c39e8","ec5e9da5.83bb5","e85b2547.0e1768"],"x":214,"y":479},{"id":"37b4f9af.1e7cde","type":"group","z":"4d4e7edd.07c848","name":"Output","style":{"label":true},"nodes":["121350ef.a319cf","62545f4.8aaa32","7bee6239.192214","e2bdd247.1fd7e8","7b3bcc0d.4a2d9c","4bc7a16a.63194","d9f27285.e5a74"],"x":214,"y":839},{"id":"30f67a3e.00a29e","type":"group","z":"9ad839e8.af376","name":"/pem?file=some.cert.com.crt","style":{"label":true},"nodes":["a59a6687.4be228","ec3521f3.ac6278","46cb11d7.e3126","5a1ea112.ce90a","a402e2fe.bd13b","fab64b70.57b3d","24395ffc.49a24"],"x":34,"y":119},{"id":"9214b63.986dcc8","type":"group","z":"9ad839e8.af376","name":"/root","style":{"label":true},"nodes":["f41f273.4c344d8","57401da2.ad40fc","7c23679d.3e4c4","4ebce055.83e218"],"x":34,"y":279},{"id":"994268ae.5b5358","type":"group","z":"9ad839e8.af376","name":"/p12?cn=some.cert.com&passphrase=abc123","style":{"label":true},"nodes":["a04c7339.6c61b","a91a5bd6.7e9f4","8526bd6.5231f4","f4970a13.48ad28","6b5da68c.2907","e04cd8cf.48b7a","5df11f5a.cbd228","e6f12111.14a658","efabc3f6.b9ccb8","5c594e59.388508","99c93cb8.cc6168","af1908e1.1b075","31f6b7fd.42ae48"],"x":34,"y":411.5},{"id":"d58f9c03.0421d","type":"ui_tab","z":"","name":"Domain","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a1f4f012.b01ca8","type":"ui_group","z":"","name":"Generate Domain Root Certificate","tab":"d58f9c03.0421d","order":1,"disp":true,"width":"18","collapse":false},{"id":"72929af4.8afe14","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d70c2283.bc1ff8","type":"ui_group","z":"","name":"Show Root Certificate","tab":"d58f9c03.0421d","order":2,"disp":true,"width":"18","collapse":false},{"id":"15fdbc34.d81dc4","type":"ui_group","z":"","name":"Show Private Key (Use this only when backing up the key)","tab":"d58f9c03.0421d","order":3,"disp":true,"width":"18","collapse":false},{"id":"cdd910d2.29ae78","type":"ui_tab","z":"","name":"Issue certificate","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f853ab70.f84b6","type":"ui_group","z":"","name":"Request","tab":"cdd910d2.29ae78","order":1,"disp":true,"width":"26","collapse":false},{"id":"deb9047a.e8afe","type":"ui_group","z":"","name":"Certificate PEM","tab":"cdd910d2.29ae78","order":2,"disp":true,"width":"13","collapse":false},{"id":"bc4a04d.af22478","type":"ui_group","z":"","name":"Private Key PEM","tab":"cdd910d2.29ae78","order":3,"disp":true,"width":"13","collapse":false},{"id":"e6b607ff.55b2e8","type":"ui_tab","z":"","name":"Certificates","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a4dc3656.5518a","type":"ui_group","z":"","name":"Issued certificates","tab":"e6b607ff.55b2e8","order":1,"disp":true,"width":"12","collapse":false},{"id":"9e5f1752.c69c38","type":"ui_group","z":"","name":"Certificate Details","tab":"e6b607ff.55b2e8","order":2,"disp":false,"width":"14","collapse":false},{"id":"a0c4ae64.075c4","type":"ui_link","z":"","name":"Download root certificte","link":"/root","icon":"open_in_browser","target":"thistab","order":4},{"id":"32ff4d39.94c62a","type":"function","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"Generate Private Key","func":"msg.payload = ' genrsa -aes256'\nmsg.payload += ' -out /data/root.key';\nmsg.payload += ' -passout pass:' + msg.passphrase\nmsg.payload += ' 4096';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":280,"wires":[["fedc0e7.9f0ee7"]]},{"id":"fedc0e7.9f0ee7","type":"exec","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"60","oldrc":false,"name":"","x":520,"y":280,"wires":[[],[],["b8717ae6.11e98","42969b07.2e139c"]]},{"id":"9af2e566.8cc7d8","type":"function","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"Generate Root Certificate","func":"if( !msg.passphrase || msg.passphrase === 0 ||\n    !msg.cn || msg.cn === 0 ||\n    !msg.org || msg.org === 0) {\n        node.warn(\"Invalid domain settings\");\n        return;\n}\n\nmsg.payload = ' req -x509 -new -nodes -days 3650'\nmsg.payload += ' -key /data/root.key'\nmsg.payload += ' -out /data/root.crt'\nmsg.payload += ' -passin pass:' + msg.passphrase\nmsg.payload += ' -subj \"/O=' + msg.org + '/CN=' + msg.cn+'\"';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["8c587c69.009168"]]},{"id":"8c587c69.009168","type":"exec","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"","x":520,"y":380,"wires":[[],[],["337ed99.e6f12a6","52dbf378.a86bbc"]]},{"id":"b8717ae6.11e98","type":"function","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"OK","func":"if(msg.payload.code === 0)\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":280,"wires":[["9af2e566.8cc7d8"]]},{"id":"42969b07.2e139c","type":"function","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"Error","func":"if(msg.payload.code === 0)\n    return;\nmsg.payload = \"Unable to generate private key\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":240,"wires":[["42d68f31.cfd9e8"]]},{"id":"337ed99.e6f12a6","type":"function","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"OK","func":"if(msg.payload.code !== 0)\n    return;\n    \nmsg.payload = \"Root certificate and private key is ready!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":380,"wires":[["b409a82d.69bfb8","2638a644.3ebc4a"]]},{"id":"899e5ca8.aa7688","type":"ui_form","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"","label":"","group":"a1f4f012.b01ca8","order":0,"width":"6","height":"6","options":[{"label":"Organization","value":"org","type":"text","required":true,"rows":null},{"label":"CA Passphrase","value":"passphrase","type":"text","required":true,"rows":null}],"formValue":{"org":"","passphrase":""},"payload":"","submit":"Generate","cancel":"","topic":"","x":130,"y":160,"wires":[["1e3c9f52.6e5759"]]},{"id":"9a00e49a.031e98","type":"debug","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":160,"wires":[]},{"id":"2755276d.dbd7e","type":"ui_template","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","group":"a1f4f012.b01ca8","name":"Info","order":1,"width":"12","height":"6","format":"<style>\n.highlight {\n  color: yellow;\n}\n</style>\n\n<h3>Description:</h3><br/>\n\n<p>Generate a new root Certificate and a corresponding private key encrypted with the passphrase. THis root certificate will be used when creating new server and client certificates</p>\n<br/><p><span class=\"highlight\">Note: Previous generate root certificate and private key will be lost!</span></p>\n<br><p><h3 class=\"highlight\">Do not forget your passphrase.  It will not be stored on this system</h3></p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":200,"wires":[[]]},{"id":"17d53a5b.c2fcbe","type":"ui_toast","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":490,"y":160,"wires":[["57a6e275.db8b7c"]]},{"id":"1e3c9f52.6e5759","type":"function","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"Process","func":"msg.org = msg.payload.org;\nmsg.cn = msg.payload.org;\nmsg.passphrase = msg.payload.passphrase;\n\nmsg.payload = \"Proceed generating root certificate for \" + msg.org + \" with CN = \" + msg.cn + \"?\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":160,"wires":[["17d53a5b.c2fcbe"]]},{"id":"57a6e275.db8b7c","type":"function","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"OK","func":"global.set(\"org\",msg.org);\nif(msg.payload === \"OK\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":160,"wires":[["9a00e49a.031e98","32ff4d39.94c62a"]]},{"id":"42d68f31.cfd9e8","type":"ui_toast","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":280,"wires":[[]]},{"id":"52dbf378.a86bbc","type":"function","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"Error","func":"if(msg.payload.code === 0)\n    return;\nmsg.payload = \"Private key was generated but not the certificate\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":340,"wires":[["42d68f31.cfd9e8"]]},{"id":"b409a82d.69bfb8","type":"ui_toast","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","position":"top right","displayTime":"5","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":910,"y":380,"wires":[]},{"id":"778326f0.9bc57","type":"link in","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"","links":["2638a644.3ebc4a"],"x":235,"y":100,"wires":[["93e13fff.909688"]]},{"id":"cd21c75e.1c48e","type":"comment","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"Reset form","info":"","x":140,"y":100,"wires":[]},{"id":"2638a644.3ebc4a","type":"link out","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"","links":["778326f0.9bc57","5455ad4f.f38cac","7f246578.5bf4e4","b924d5a8.e345c"],"x":835,"y":420,"wires":[]},{"id":"93e13fff.909688","type":"function","z":"b8bbfb03.fd1c08","g":"701b68f5.11f0b","name":"Reset","func":"msg.payload = {\n    org: \"\",\n    cn: \"\",\n    passphrase: \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":100,"wires":[["899e5ca8.aa7688"]]},{"id":"a1e39dd9.32f2f","type":"ui_button","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","name":"","group":"d70c2283.bc1ff8","order":1,"width":0,"height":0,"passthru":false,"label":"Show Root Certificate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":580,"wires":[["caf2dbf2.24a548","b034e2d2.56e79"]]},{"id":"caf2dbf2.24a548","type":"file in","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","name":"","filename":"/data/root.crt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":580,"wires":[["a142965d.5a98d8"]]},{"id":"a142965d.5a98d8","type":"ui_template","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","group":"d70c2283.bc1ff8","name":"PEM","order":5,"width":"12","height":"13","format":"<style type=\"text/css\">\ntextarea {\n    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;\n}\n</style>\n<textarea rows=\"34\" cols=\"80\">{{msg.payload}}</textarea>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":630,"y":580,"wires":[[]]},{"id":"b034e2d2.56e79","type":"function","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","name":"Open cert","func":"msg.payload = \"x509 -in /data/root.crt -text -noout\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":640,"wires":[["1206965b.bbf5d2"]]},{"id":"1206965b.bbf5d2","type":"exec","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":620,"y":640,"wires":[["ec31ce35.ff05c8"],[],[]]},{"id":"ec31ce35.ff05c8","type":"function","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","name":"Parser","func":"rows = msg.payload.split(\"\\n\");\n\nissuer = rows[6].split(\":\")[1].replace(/\\s/, '');\nitems = issuer.split(\",\");\n\norg = \"\";\ncn = \"\";\n\nitems.forEach(function(prop){\n    if(prop.indexOf(\"O = \") >= 0)\n        org = prop.substr(4,prop.length)\n    if(prop.indexOf(\"CN = \") >= 0)\n        cn = prop.substr(5,prop.length)\n});\n\nglobal.set(\"org\",org);\n\nmsg.payload = {\n    issuer: issuer,\n    org: org, \n    cn: cn,\n    validity: rows[9].substr(23,rows[9].length),\n    key: rows[12].split(\":\")[1].replace(/\\s/, '') + rows[13].split(\":\")[1]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":640,"wires":[["835f2fac.1619","1ab8b811.b0276","7db5c9e5.78ca58","a8038516.48ef68"]]},{"id":"835f2fac.1619","type":"ui_text","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","group":"d70c2283.bc1ff8","order":2,"width":"6","height":"1","name":"","label":"Issuer","format":"{{msg.payload.org}}","layout":"col-center","x":950,"y":640,"wires":[]},{"id":"1ab8b811.b0276","type":"ui_text","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","group":"d70c2283.bc1ff8","order":3,"width":"6","height":"1","name":"","label":"Validity","format":"{{msg.payload.validity}}","layout":"col-center","x":960,"y":680,"wires":[]},{"id":"7db5c9e5.78ca58","type":"ui_text","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","group":"d70c2283.bc1ff8","order":4,"width":"6","height":"1","name":"","label":"Key","format":"{{msg.payload.key}}","layout":"col-center","x":950,"y":720,"wires":[]},{"id":"49d35de1.dee874","type":"ui_form","z":"b8bbfb03.fd1c08","g":"d6f9fb9e.f2eae8","name":"","label":"","group":"15fdbc34.d81dc4","order":1,"width":"5","height":"7","options":[{"label":"CA Passhprase","value":"passphrase","type":"password","required":true,"rows":null}],"formValue":{"passphrase":""},"payload":"","submit":"Display","cancel":"","topic":"","x":150,"y":940,"wires":[["cb04acf1.4e4168"]]},{"id":"c74cbbc4.ca0b4","type":"ui_template","z":"b8bbfb03.fd1c08","g":"d6f9fb9e.f2eae8","group":"15fdbc34.d81dc4","name":"Private CA Key","order":2,"width":"12","height":"21","format":"<style type=\"text/css\">\ntextarea {\n    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;\n}\n</style>\n<textarea rows=\"55\" cols=\"80\">{{msg.payload}}</textarea>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":880,"y":920,"wires":[[]]},{"id":"cb04acf1.4e4168","type":"function","z":"b8bbfb03.fd1c08","g":"d6f9fb9e.f2eae8","name":"","func":"msg.payload = \" pkey -in /data/root.key -passin pass:\" + msg.payload.passphrase;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":940,"wires":[["600386d6.b193b8"]]},{"id":"600386d6.b193b8","type":"exec","z":"b8bbfb03.fd1c08","g":"d6f9fb9e.f2eae8","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"15","oldrc":false,"name":"","x":490,"y":940,"wires":[["c74cbbc4.ca0b4"],[],["954a6608.a71808"]]},{"id":"954a6608.a71808","type":"function","z":"b8bbfb03.fd1c08","g":"d6f9fb9e.f2eae8","name":"Clear on error","func":"if(msg.payload.code > 0 ) {\n    msg.payload = \"Unable to decrypt and dispaly private key\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":960,"wires":[["c74cbbc4.ca0b4"]]},{"id":"2719aefb.ecb29a","type":"ui_button","z":"b8bbfb03.fd1c08","g":"d6f9fb9e.f2eae8","name":"","group":"15fdbc34.d81dc4","order":3,"width":"5","height":"1","passthru":false,"label":"Clear (after copying)","tooltip":"","color":"black","bgcolor":"Yellow","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":880,"wires":[["389470b0.7587e"]]},{"id":"389470b0.7587e","type":"function","z":"b8bbfb03.fd1c08","g":"d6f9fb9e.f2eae8","name":"Clear","func":"msg.payload = {\n    passphrase:\"\"\n}    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":880,"wires":[["49d35de1.dee874","bfc0115f.49e4f8"]]},{"id":"bfc0115f.49e4f8","type":"function","z":"b8bbfb03.fd1c08","g":"d6f9fb9e.f2eae8","name":"Clear","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":880,"wires":[["c74cbbc4.ca0b4"]]},{"id":"b924d5a8.e345c","type":"link in","z":"b8bbfb03.fd1c08","g":"d6f9fb9e.f2eae8","name":"","links":["2638a644.3ebc4a"],"x":215,"y":840,"wires":[["389470b0.7587e"]]},{"id":"4d1c365.b7c1a48","type":"comment","z":"b8bbfb03.fd1c08","g":"d6f9fb9e.f2eae8","name":"Reset","info":"","x":130,"y":840,"wires":[]},{"id":"5455ad4f.f38cac","type":"link in","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","name":"","links":["2638a644.3ebc4a"],"x":375,"y":540,"wires":[["3cf2cfd4.5fa27"]]},{"id":"3cf2cfd4.5fa27","type":"function","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","name":"Reset","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":540,"wires":[["a142965d.5a98d8"]]},{"id":"7f246578.5bf4e4","type":"link in","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","name":"","links":["2638a644.3ebc4a"],"x":675,"y":700,"wires":[["669dd36f.1c797c"]]},{"id":"669dd36f.1c797c","type":"function","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","name":"Reset","func":"msg.payload = {\n    issuer: \"\",\n    validity: \"\",\n    key: \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":700,"wires":[["835f2fac.1619","1ab8b811.b0276","7db5c9e5.78ca58"]]},{"id":"8bf4c3c.4d966c","type":"ui_text_input","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"","label":"Common Name","tooltip":"","group":"f853ab70.f84b6","order":1,"width":"5","height":"1","passthru":false,"mode":"text","delay":"0","topic":"","x":480,"y":300,"wires":[["3edcc2d1.eaf966","ec273fff.6e07c8"]]},{"id":"29d7b5ba.cd9fc2","type":"ui_dropdown","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"Validity","label":"Validity","tooltip":"","place":"","group":"f853ab70.f84b6","order":2,"width":"5","height":"1","passthru":false,"multiple":false,"options":[{"label":"One Day","value":"1","type":"str"},{"label":"One Week","value":"7","type":"str"},{"label":"One Month","value":"31","type":"str"},{"label":"One Year","value":"265","type":"str"}],"payload":"","topic":"","x":460,"y":400,"wires":[["faa7583.0e41ea8"]]},{"id":"71d2c69b.d20648","type":"ui_dropdown","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"Type","label":"Type","tooltip":"","place":"","group":"f853ab70.f84b6","order":2,"width":"5","height":"1","passthru":false,"multiple":false,"options":[{"label":"Server certificate","value":"server","type":"str"},{"label":"Client Certificate","value":"client","type":"str"}],"payload":"","topic":"","x":450,"y":240,"wires":[["900d0c34.c96f98"]]},{"id":"7266395d.cca138","type":"ui_button","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"","group":"f853ab70.f84b6","order":3,"width":"4","height":"1","passthru":false,"label":"Request","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":460,"y":200,"wires":[["cea6a6a3.da63c"]]},{"id":"c035f3bf.c110d8","type":"change","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"},{"t":"set","p":"type","pt":"flow","to":"null","tot":"json"},{"t":"set","p":"cn","pt":"flow","to":"null","tot":"json"},{"t":"set","p":"validity","pt":"msg","to":"null","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":160,"wires":[["71d2c69b.d20648","8bf4c3c.4d966c","29d7b5ba.cd9fc2","b9a7b605.2cc838"]]},{"id":"900d0c34.c96f98","type":"change","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"","rules":[{"t":"set","p":"type","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":240,"wires":[[]]},{"id":"3edcc2d1.eaf966","type":"change","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"","rules":[{"t":"set","p":"cn","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":300,"wires":[[]]},{"id":"faa7583.0e41ea8","type":"change","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"","rules":[{"t":"set","p":"validity","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":400,"wires":[[]]},{"id":"ec273fff.6e07c8","type":"function","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"Make filename","func":"msg.payload = msg.payload.replace(/\\s/g, '.').toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":340,"wires":[["f0021b7d.636058"]]},{"id":"f0021b7d.636058","type":"change","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"","rules":[{"t":"set","p":"filename","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":340,"wires":[[]]},{"id":"b9a7b605.2cc838","type":"function","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"Request","func":"if(msg.payload.length === 0 || msg.payload === \"Cancel\")\n    return;\n    \nmsg.passphrase = msg.payload;\n\nmsg.payload = {\n    type: flow.get(\"type\"),\n    cn: flow.get(\"cn\"),\n    validity: flow.get(\"validity\"),\n    filename: flow.get(\"filename\")\n}\n\nif( msg.passphrase.length < 5)\n    return;\n\nif(!msg.payload.type)\n    return;\n\nif(!msg.payload.cn || msg.payload.cn.length < 3)\n    return;\n\nif(!msg.payload.validity)\n    return;\n\nif(!msg.payload.filename || msg.payload.filename.length < 3 )\n    return;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":160,"wires":[["afbe5c3a.aedaf"]]},{"id":"afbe5c3a.aedaf","type":"link out","z":"4d4e7edd.07c848","name":"","links":["f8327527.9e6eb8"],"x":1095,"y":160,"wires":[]},{"id":"f8327527.9e6eb8","type":"link in","z":"4d4e7edd.07c848","name":"","links":["afbe5c3a.aedaf"],"x":175,"y":520,"wires":[["ebe04097.f3ba58"]]},{"id":"a8038516.48ef68","type":"debug","z":"b8bbfb03.fd1c08","g":"4377b089.77d1e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":580,"wires":[]},{"id":"6c6770dd.0b2468","type":"link in","z":"4d4e7edd.07c848","name":"","links":["60aa7062.0d9b3","2bc86742.9207d","4b517da6.398a04"],"x":175,"y":160,"wires":[["c035f3bf.c110d8"]]},{"id":"9bce1d50.2808c8","type":"comment","z":"4d4e7edd.07c848","name":"Reset","info":"","x":90,"y":160,"wires":[]},{"id":"c8fe4f1e.9ac418","type":"ui_ui_control","z":"4d4e7edd.07c848","name":"","events":"all","x":100,"y":40,"wires":[["a0c1d914.c09cf8"]]},{"id":"a0c1d914.c09cf8","type":"function","z":"4d4e7edd.07c848","name":"This tab?","func":"if( msg.payload === \"change\" && msg.name === \"Issue certificate\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":40,"wires":[["60aa7062.0d9b3","6150c048.8e871"]]},{"id":"60aa7062.0d9b3","type":"link out","z":"4d4e7edd.07c848","name":"","links":["6c6770dd.0b2468","59e5d767.db87a"],"x":375,"y":40,"wires":[]},{"id":"b6e0a089.36e2c","type":"ui_toast","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"Password","x":750,"y":200,"wires":[["b9a7b605.2cc838"]]},{"id":"cea6a6a3.da63c","type":"change","z":"4d4e7edd.07c848","g":"a750bad3.af01c8","name":"Ask","rules":[{"t":"set","p":"payload","pt":"msg","to":"Domain CA passphrase?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":200,"wires":[["b6e0a089.36e2c"]]},{"id":"59e5d767.db87a","type":"link in","z":"4d4e7edd.07c848","name":"","links":["60aa7062.0d9b3"],"x":175,"y":960,"wires":[["121350ef.a319cf"]]},{"id":"121350ef.a319cf","type":"function","z":"4d4e7edd.07c848","g":"37b4f9af.1e7cde","name":"Reset","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":960,"wires":[["7bee6239.192214","4bc7a16a.63194"]]},{"id":"62545f4.8aaa32","type":"file in","z":"4d4e7edd.07c848","g":"37b4f9af.1e7cde","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":880,"wires":[["7bee6239.192214"]]},{"id":"7bee6239.192214","type":"ui_template","z":"4d4e7edd.07c848","g":"37b4f9af.1e7cde","group":"deb9047a.e8afe","name":"Certificate PEM","order":5,"width":"12","height":"13","format":"<style type=\"text/css\">\ntextarea {\n    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;\n}\n</style>\n<textarea rows=\"34\" cols=\"80\">{{msg.payload}}</textarea>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":880,"wires":[[]]},{"id":"fbb1abad.9d75c","type":"link in","z":"4d4e7edd.07c848","name":"","links":["2bc86742.9207d","4b517da6.398a04"],"x":175,"y":880,"wires":[["e2bdd247.1fd7e8","d9f27285.e5a74"]]},{"id":"e2bdd247.1fd7e8","type":"function","z":"4d4e7edd.07c848","g":"37b4f9af.1e7cde","name":"Filename","func":"msg.filename = \"/data/files/\" + msg.request.filename + \".crt\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":880,"wires":[["62545f4.8aaa32"]]},{"id":"7b3bcc0d.4a2d9c","type":"file in","z":"4d4e7edd.07c848","g":"37b4f9af.1e7cde","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":450,"y":920,"wires":[["4bc7a16a.63194"]]},{"id":"4bc7a16a.63194","type":"ui_template","z":"4d4e7edd.07c848","g":"37b4f9af.1e7cde","group":"bc4a04d.af22478","name":"Private Key PEM","order":5,"width":"12","height":"13","format":"<style type=\"text/css\">\ntextarea {\n    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;\n}\n</style>\n<textarea rows=\"34\" cols=\"80\">{{msg.payload}}</textarea>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":920,"wires":[[]]},{"id":"d9f27285.e5a74","type":"function","z":"4d4e7edd.07c848","g":"37b4f9af.1e7cde","name":"Filename","func":"msg.filename = \"/data/files/\" + msg.request.filename + \".key\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":920,"wires":[["7b3bcc0d.4a2d9c"]]},{"id":"4b517da6.398a04","type":"link out","z":"4d4e7edd.07c848","name":"","links":["fbb1abad.9d75c","6c6770dd.0b2468"],"x":1055,"y":760,"wires":[]},{"id":"789a66ee.aea03","type":"function","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","name":"Sign Certificate","func":"msg.payload = ' ca -notext -batch -notext -md sha256'\nmsg.payload += ' -days ' + msg.request.validity\nmsg.payload += ' -config /data/openssl.conf'\nmsg.payload += ' -extensions ' + msg.request.type + \"_cert\"\nmsg.payload += ' -in /data/files/' + msg.request.filename + \".csr\";\nmsg.payload += ' -out /data/files/' + msg.request.filename + \".crt\";\nif( msg.passphrase && msg.passphrase.length )\n    msg.payload += ' -passin pass:' + msg.passphrase\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":740,"wires":[["bc145b4d.77051"]]},{"id":"599ccf7a.33a328","type":"exec","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"15","oldrc":false,"name":"","x":500,"y":580,"wires":[[],[],["a7391aa3.cafdd","6097f6f2.5b9ce"]]},{"id":"5c0e2716.300358","type":"exec","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":500,"y":660,"wires":[[],[],["4cdbe703.a3bf48","930e1fc7.ad564"]]},{"id":"bc145b4d.77051","type":"exec","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"","x":500,"y":740,"wires":[[],[],["ec5e9da5.83bb5","cd7d28ba.9c39e8"]]},{"id":"3fdbcfff.d1898","type":"function","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","name":"Generate Key","func":"msg.request = msg.payload;\nmsg.payload = 'genrsa -out /data/files/' + msg.payload.filename + \".key 2048\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":580,"wires":[["599ccf7a.33a328"]]},{"id":"ba3d66cc.63c0b8","type":"function","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","name":"Generate CSR","func":"org = global.get(\"org\");\nif(!org)\n    org = \"Undefined\"\nmsg.payload = ' req -new -config /data/openssl.conf';\nif(msg.request.type === \"server\") {\n    msg.payload += ' -extensions server_cert';\n    msg.payload += ' -addext \"subjectAltName = DNS:' + msg.request.cn + '\"';\n}\nif( msg.request.type === \"client\")\n    msg.payload += ' -extensions client_cert'\nmsg.payload += ' -key /data/files/' + msg.request.filename + \".key\";\nmsg.payload += ' -out /data/files/' + msg.request.filename + \".csr\";\nmsg.payload += ' -subj \"/O=' + org + '/CN=' + msg.request.cn + '\"';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":660,"wires":[["5c0e2716.300358"]]},{"id":"a7391aa3.cafdd","type":"function","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","name":"Error","func":"if(msg.payload.code === 0)\n    return;\nmsg.payload = \"Unable to generate private key\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":560,"wires":[["28f4fcaa.3200cc"]]},{"id":"6097f6f2.5b9ce","type":"function","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","name":"OK","func":"if(msg.payload.code === 0)\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":600,"wires":[["ba3d66cc.63c0b8"]]},{"id":"28f4fcaa.3200cc","type":"ui_toast","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":870,"y":560,"wires":[[]]},{"id":"4cdbe703.a3bf48","type":"function","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","name":"Error","func":"if(msg.payload.code === 0)\n    return;\nmsg.payload = \"Unable to generate CSR\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":640,"wires":[["28f4fcaa.3200cc"]]},{"id":"930e1fc7.ad564","type":"function","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","name":"OK","func":"if(msg.payload.code === 0)\n    return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":680,"wires":[["789a66ee.aea03"]]},{"id":"ebe04097.f3ba58","type":"change","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","name":"Request","rules":[{"t":"set","p":"request","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":520,"wires":[["3fdbcfff.d1898"]]},{"id":"cd7d28ba.9c39e8","type":"function","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","name":"Error","func":"if(msg.payload.code === 0)\n    return;\nmsg.payload = \"Unable to sign request.  CHeck password\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":720,"wires":[["28f4fcaa.3200cc"]]},{"id":"ec5e9da5.83bb5","type":"function","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","name":"OK","func":"if(msg.payload.code !== 0)\n    return;\nmsg.payload = \"Certificate \" + msg.request.cn + \" is now avaialble\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":760,"wires":[["e85b2547.0e1768","4b517da6.398a04"]]},{"id":"e85b2547.0e1768","type":"ui_toast","z":"4d4e7edd.07c848","g":"57bc921b.0b57b4","position":"top right","displayTime":"5","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":720,"wires":[]},{"id":"5261f793.705578","type":"comment","z":"4d4e7edd.07c848","name":"Input","info":"# Input\nmsg.request.filename = \"some.cert.file\"","x":90,"y":880,"wires":[]},{"id":"423e99cb.cd3e78","type":"comment","z":"4d4e7edd.07c848","name":"Reset","info":"","x":90,"y":960,"wires":[]},{"id":"1cb1e0a.2efe69f","type":"comment","z":"4d4e7edd.07c848","name":"Input","info":"","x":90,"y":520,"wires":[]},{"id":"b9676a57.2282","type":"comment","z":"4d4e7edd.07c848","name":"Output","info":"","x":1130,"y":760,"wires":[]},{"id":"2f1e8fd4.9b8cd","type":"ui_ui_control","z":"7d4b89c9.291e98","name":"","events":"all","x":140,"y":80,"wires":[["c0477191.b2bbd8"]]},{"id":"c0477191.b2bbd8","type":"function","z":"7d4b89c9.291e98","name":"This tab?","func":"if( msg.payload === \"change\" && msg.name === \"Certificates\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":80,"wires":[["a4b2dcb3.66bc38"]]},{"id":"a4b2dcb3.66bc38","type":"link out","z":"7d4b89c9.291e98","name":"","links":["b47be9a6.5eab98","4bf3745f.928a2c","afde658b.df59b","427e07b4.08a918"],"x":415,"y":80,"wires":[]},{"id":"915eb52d.cbe5f","type":"inject","z":"7d4b89c9.291e98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":160,"wires":[["aa3eaa1b.510b98"]]},{"id":"aa3eaa1b.510b98","type":"file in","z":"7d4b89c9.291e98","name":"","filename":"/data/index.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":200,"wires":[["64840ba9.1f4a9c"]]},{"id":"64840ba9.1f4a9c","type":"function","z":"7d4b89c9.291e98","name":"Parser","func":"rows = msg.payload.split(\"\\n\");\nlist = [];\nrows.forEach(function(row){\n    var items = row.split(\"\\t\");\n    if( items.length > 4 ) {\n        var timeparts = items[1].match(/.{1,2}/g);\n        var date = \"20\" + timeparts[0] + \"-\" + timeparts[1] + \"-\" + timeparts[2] + \" \" + timeparts[3] + \":\" + timeparts[4];\n        var cn = \"Undefined\";\n        var posCN = items[5].indexOf(\"/CN=\");\n        if( posCN > -1 )\n            cn = items[5].substr(posCN+4,items[5].length)\n        var filename = cn.replace(/\\s/g, '.').toLowerCase();\n        list.push({\n            id: items[3],\n            status: items[0]===\"V\"?\"Valid\":items[0]===\"R\"?\"Revoked\":\"Undefined\",\n            expiration: date,\n            cn: cn,\n            filename: filename\n        });\n    }\n})\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":200,"wires":[["f67a4608.acbc9"]]},{"id":"f67a4608.acbc9","type":"ui_table","z":"7d4b89c9.291e98","group":"a4dc3656.5518a","name":"Issued certificates","order":0,"width":"12","height":"10","columns":[{"field":"cn","title":"Common Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"expiration","title":"Expiration","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"id","title":"ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"status","title":"Status","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":750,"y":200,"wires":[["c6b1281.2827358","c65d59cc.01727","4b047dd7.36658c"]]},{"id":"6150c048.8e871","type":"debug","z":"4d4e7edd.07c848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":80,"wires":[]},{"id":"c6b1281.2827358","type":"function","z":"7d4b89c9.291e98","name":"Open cert","func":"msg.payload = \"x509 -in /data/files/\" + msg.payload.filename + \".crt -text -noout\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":260,"wires":[["f518e81c.bd9a08"]]},{"id":"f518e81c.bd9a08","type":"exec","z":"7d4b89c9.291e98","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":500,"y":260,"wires":[["13c9757.5d2ea8b"],[],[]]},{"id":"13c9757.5d2ea8b","type":"ui_template","z":"7d4b89c9.291e98","group":"9e5f1752.c69c38","name":"Certificate Data","order":2,"width":"14","height":"8","format":"<style type=\"text/css\">\ntextarea {\n    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;\n}\n</style>\n<textarea rows=\"34\" cols=\"80\">{{msg.payload}}</textarea>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1000,"y":260,"wires":[[]]},{"id":"c65d59cc.01727","type":"change","z":"7d4b89c9.291e98","name":"","rules":[{"t":"set","p":"certificate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":140,"wires":[["318dce51.e5af5a"]]},{"id":"4b047dd7.36658c","type":"ui_template","z":"7d4b89c9.291e98","group":"9e5f1752.c69c38","name":"Selected certificate","order":1,"width":"14","height":"1","format":"<h3>{{msg.payload.cn}}</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1010,"y":200,"wires":[[]]},{"id":"b47be9a6.5eab98","type":"link in","z":"7d4b89c9.291e98","name":"","links":["a4b2dcb3.66bc38"],"x":155,"y":200,"wires":[["aa3eaa1b.510b98"]]},{"id":"4bf3745f.928a2c","type":"link in","z":"7d4b89c9.291e98","name":"","links":["a4b2dcb3.66bc38"],"x":695,"y":140,"wires":[["d4eebef5.ee7188"]]},{"id":"d4eebef5.ee7188","type":"change","z":"7d4b89c9.291e98","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":140,"wires":[["4b047dd7.36658c","13c9757.5d2ea8b"]]},{"id":"a59a6687.4be228","type":"http response","z":"9ad839e8.af376","g":"30f67a3e.00a29e","name":"","statusCode":"","headers":{},"x":730,"y":160,"wires":[]},{"id":"ec3521f3.ac6278","type":"file in","z":"9ad839e8.af376","g":"30f67a3e.00a29e","name":"file","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":430,"y":160,"wires":[["fab64b70.57b3d"]]},{"id":"46cb11d7.e3126","type":"http in","z":"9ad839e8.af376","g":"30f67a3e.00a29e","name":"","url":"/pem","method":"get","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["a402e2fe.bd13b","5a1ea112.ce90a","c12e9d91.8f2f2"]]},{"id":"5a1ea112.ce90a","type":"function","z":"9ad839e8.af376","g":"30f67a3e.00a29e","name":"file","func":"if(!msg.payload.hasOwnProperty(\"file\") || msg.payload.file < 4)\n    return;\nmsg.file = msg.payload.file;\nmsg.filename = \"/data/files/\" + msg.payload.file;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":160,"wires":[["ec3521f3.ac6278"]]},{"id":"a402e2fe.bd13b","type":"function","z":"9ad839e8.af376","g":"30f67a3e.00a29e","name":"Error","func":"if(msg.payload.hasOwnProperty(\"file\") && msg.payload.file.length > 4)\n    return;\nmsg.payload = \"Invalid request\";\nmsg.statusCode = 400;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":200,"wires":[["24395ffc.49a24"]]},{"id":"89e0198b.674b9","type":"catch","z":"9ad839e8.af376","name":"","scope":null,"uncaught":false,"x":120,"y":60,"wires":[["56a1da02.863f7c","7ecf5a42.fa13dc"]]},{"id":"56a1da02.863f7c","type":"function","z":"9ad839e8.af376","name":"Error: Does not exist","func":"msg.payload = \"Invalid request\";\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":60,"wires":[["4e624afa.d15e6c"]]},{"id":"fab64b70.57b3d","type":"function","z":"9ad839e8.af376","g":"30f67a3e.00a29e","name":"Headers","func":"msg.headers = {};\nmsg.headers['Content-Disposition'] = \"attachment; filename=\" + msg.file\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":160,"wires":[["a59a6687.4be228"]]},{"id":"f41f273.4c344d8","type":"http in","z":"9ad839e8.af376","g":"9214b63.986dcc8","name":"","url":"/root","method":"get","upload":false,"swaggerDoc":"","x":120,"y":320,"wires":[["57401da2.ad40fc"]]},{"id":"57401da2.ad40fc","type":"file in","z":"9ad839e8.af376","g":"9214b63.986dcc8","name":"","filename":"/data/root.crt","format":"","chunk":false,"sendError":false,"encoding":"none","x":290,"y":320,"wires":[["7c23679d.3e4c4"]]},{"id":"7c23679d.3e4c4","type":"function","z":"9ad839e8.af376","g":"9214b63.986dcc8","name":"Headers","func":"msg.headers = {};\nmsg.headers['Content-Disposition'] = \"attachment; filename=\" + global.get(\"org\") + \".crt\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":320,"wires":[["4ebce055.83e218"]]},{"id":"a04c7339.6c61b","type":"http in","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"","url":"/p12","method":"get","upload":false,"swaggerDoc":"","x":120,"y":460,"wires":[["a91a5bd6.7e9f4","8526bd6.5231f4","aee3f605.54691"]]},{"id":"a91a5bd6.7e9f4","type":"function","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"OK","func":"if(!msg.payload.hasOwnProperty(\"cn\") || !msg.payload.hasOwnProperty(\"passphrase\"))\n    return;\nmsg.cn = msg.payload.cn;\nmsg.passphrase = msg.payload.passphrase;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":460,"wires":[["f4970a13.48ad28"]]},{"id":"31f6b7fd.42ae48","type":"http response","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"","statusCode":"","headers":{},"x":1310,"y":460,"wires":[]},{"id":"4ebce055.83e218","type":"http response","z":"9ad839e8.af376","g":"9214b63.986dcc8","name":"","statusCode":"","headers":{},"x":610,"y":320,"wires":[]},{"id":"4e624afa.d15e6c","type":"http response","z":"9ad839e8.af376","name":"","statusCode":"","headers":{},"x":510,"y":60,"wires":[]},{"id":"7ecf5a42.fa13dc","type":"debug","z":"9ad839e8.af376","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":20,"wires":[]},{"id":"8526bd6.5231f4","type":"function","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"Error","func":"if(msg.payload.hasOwnProperty(\"cn\") && msg.payload.hasOwnProperty(\"passphrase\"))\n    return;\n\nmsg.payload = \"Invalid request\";\nmsg.statusCode = 400;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":520,"wires":[["6b5da68c.2907"]]},{"id":"f4970a13.48ad28","type":"function","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"Request","func":"msg.payload = 'pkcs12 -export -out /data/files/' + msg.cn + '.p12 -inkey /data/files/' + msg.cn + '.key -in /data/files/' + msg.cn + '.crt -password pass:' + msg.passphrase;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":460,"wires":[["e04cd8cf.48b7a"]]},{"id":"e04cd8cf.48b7a","type":"exec","z":"9ad839e8.af376","g":"994268ae.5b5358","command":"openssl","addpay":true,"append":"","useSpawn":"false","timer":"10","oldrc":false,"name":"","x":580,"y":460,"wires":[[],[],["5df11f5a.cbd228","e6f12111.14a658"]]},{"id":"e6f12111.14a658","type":"function","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"Error","func":"if(msg.payload.code === 0)\n    return;\nmsg.payload = \"Unable to generate P12\";\nmsg.statusCode = 500;//resource not found\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":520,"wires":[["5c594e59.388508"]]},{"id":"5df11f5a.cbd228","type":"function","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"OK","func":"if(msg.payload.code !== 0)\n    return;\n    \nmsg.payload = \"P12 File is ready!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":460,"wires":[["efabc3f6.b9ccb8"]]},{"id":"efabc3f6.b9ccb8","type":"function","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"file","func":"msg.filename = \"/data/files/\" + msg.cn + \".p12\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":460,"wires":[["99c93cb8.cc6168"]]},{"id":"99c93cb8.cc6168","type":"file in","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"file","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1010,"y":460,"wires":[["af1908e1.1b075"]]},{"id":"af1908e1.1b075","type":"function","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"Headers","func":"msg.headers = {};\nmsg.headers['Content-Disposition'] = \"attachment; filename=\" + msg.cn + \".p12\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":460,"wires":[["31f6b7fd.42ae48"]]},{"id":"6b5da68c.2907","type":"http response","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"","statusCode":"","headers":{},"x":410,"y":520,"wires":[]},{"id":"5c594e59.388508","type":"http response","z":"9ad839e8.af376","g":"994268ae.5b5358","name":"","statusCode":"","headers":{},"x":870,"y":520,"wires":[]},{"id":"24395ffc.49a24","type":"http response","z":"9ad839e8.af376","g":"30f67a3e.00a29e","name":"","statusCode":"","headers":{},"x":430,"y":200,"wires":[]},{"id":"bfaad586.f7e878","type":"ui_button","z":"7d4b89c9.291e98","name":"","group":"9e5f1752.c69c38","order":2,"width":"4","height":"1","passthru":false,"label":"Certificate","tooltip":"","color":"white","bgcolor":"blue","icon":"get_app","payload":"","payloadType":"str","topic":"download/root","x":510,"y":380,"wires":[["6a40e0da.f197e8"]]},{"id":"11cf8b08.3a3c9d","type":"ui_template","z":"7d4b89c9.291e98","group":"a4dc3656.5518a","name":"Download","order":3,"width":0,"height":0,"format":"<script>\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.topic && msg.timestamp) {\n            //If file download does not work NR may get into a loop and tries to download again on refresh.\n            //By check the button push timestamp the loop breakes\n            if(msg.topic === \"download\" && new Date().getTime() - msg.timestamp < 500 ) {\n                console.log(\"Debug\");\n                window.location.href = msg.payload;\n\t\t\t\tscope.send({\n\t\t\t\t\ttopic: msg.topic,\n\t\t\t\t\tpayload: msg.payload\n\t\t\t\t});                \n                return;\n            }\n        }\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":1060,"y":380,"wires":[[]]},{"id":"caf3667d.c0e64","type":"ui_button","z":"7d4b89c9.291e98","name":"","group":"9e5f1752.c69c38","order":2,"width":"4","height":"1","passthru":false,"label":"Private Key","tooltip":"","color":"white","bgcolor":"blue","icon":"get_app","payload":"","payloadType":"str","topic":"download/root","x":510,"y":420,"wires":[["a674a983.b81a38"]]},{"id":"28baf98f.f7a1f6","type":"ui_button","z":"7d4b89c9.291e98","name":"","group":"9e5f1752.c69c38","order":2,"width":"4","height":"1","passthru":false,"label":"P12","tooltip":"","color":"white","bgcolor":"blue","icon":"get_app","payload":"Set P12 passhrase (Use strong passphrase)","payloadType":"str","topic":"download","x":490,"y":460,"wires":[["4911dbf9.150104"]]},{"id":"4966d7f9.26752","type":"change","z":"7d4b89c9.291e98","name":"Disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":380,"wires":[["bfaad586.f7e878","caf3667d.c0e64","28baf98f.f7a1f6"]]},{"id":"afde658b.df59b","type":"link in","z":"7d4b89c9.291e98","name":"","links":["a4b2dcb3.66bc38"],"x":175,"y":380,"wires":[["4966d7f9.26752"]]},{"id":"4bc1b89d.152e5","type":"change","z":"7d4b89c9.291e98","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":420,"wires":[["bfaad586.f7e878","caf3667d.c0e64","28baf98f.f7a1f6"]]},{"id":"dbc6271b.a752d8","type":"link in","z":"7d4b89c9.291e98","name":"","links":["318dce51.e5af5a"],"x":175,"y":420,"wires":[["4bc1b89d.152e5"]]},{"id":"318dce51.e5af5a","type":"link out","z":"7d4b89c9.291e98","name":"","links":["dbc6271b.a752d8"],"x":1125,"y":140,"wires":[]},{"id":"6a40e0da.f197e8","type":"function","z":"7d4b89c9.291e98","name":"Get Certificate","func":"msg.topic = \"download\";\nmsg.timestamp = new Date().getTime();\nmsg.payload = \"/pem?file=\" + flow.get(\"certificate\").filename + \".crt\" \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":380,"wires":[["11cf8b08.3a3c9d"]]},{"id":"a674a983.b81a38","type":"function","z":"7d4b89c9.291e98","name":"Get Key","func":"msg.topic = \"download\";\nmsg.timestamp = new Date().getTime();\nmsg.payload = \"/pem?file=\" + flow.get(\"certificate\").filename + \".key\" \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":420,"wires":[["11cf8b08.3a3c9d"]]},{"id":"4911dbf9.150104","type":"ui_toast","z":"7d4b89c9.291e98","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":690,"y":460,"wires":[["163ea33f.235fd5"]]},{"id":"163ea33f.235fd5","type":"function","z":"7d4b89c9.291e98","name":"Get P12","func":"if( msg.payload === \"Cancel\")\n    return;\nmsg.timestamp = new Date().getTime();\nmsg.payload = \"/p12?cn=\" + flow.get(\"certificate\").filename + \"&passphrase=\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":460,"wires":[["11cf8b08.3a3c9d"]]},{"id":"aee3f605.54691","type":"debug","z":"9ad839e8.af376","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":600,"wires":[]},{"id":"427e07b4.08a918","type":"link in","z":"7d4b89c9.291e98","name":"","links":["a4b2dcb3.66bc38"],"x":915,"y":340,"wires":[["11cf8b08.3a3c9d"]]},{"id":"c12e9d91.8f2f2","type":"debug","z":"9ad839e8.af376","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":260,"wires":[]}]